{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="{% static 'js.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'top250m.json' %}"></script>
        <script src="{% static 'top250s.json' %}"></script>
        <script src="{% static 'hottestMovies.json' %}"></script>
        <script src="{% static 'hottestSeries.json' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    </head>

    <body>
        <div class="navbar-container">
            <div class="menu-bar">
                <a href="{% url 'explore' %}"><li>Explore</li></a>
                <a href="{% url 'mylist' %}"><li>My List</li></a>
                <a href="{% url 'match' %}"><li>Match</li></a>
                <a href="{% url 'logout' %}"><li>Log out</li></a>
            </div>
        </div>
    
        <div id="layout">

            {% if message %}
            <div class="alert alert-light" role="alert">
                {{message}}
            </div>
            {% endif %}

            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>